* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sofia", serif;
  font-weight: 400;
}

@import "font.scss";
@import "header.scss";
@import "helper.scss";
@import "container.scss";
@import "banner.scss";
@import "service.scss";
@import "consultation.scss";
@import "team.scss";
@import "choose.scss";
@import "testimonial.scss";
@import "blog.scss";
@import "footer.scss";

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.strong {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}