// 1024
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: grid;
}

.row--two-grid {
  grid-template-columns: repeat(2, 1fr);
}

//1920