:root {
  --blue: #316FD7;
  --dark: #394F73;
  --black: #020b1b;
  --gray: #9AA6BC;
  --dark-blue: #08337B;
  --deep-gray: #4E5F7C;
}

.reverse {
  flex-direction: row-reverse;
}

.btn-common {
  --box-shadow-color: rgba(49, 111, 215, 0.3);
  --background-color: var(--blue);
  display: flex;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  padding: 17px 19px;
  font-size: 17px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgb(230, 230, 230);
  background-color: var(--background-color);
  box-shadow: 0 8px 34px 0 var(--box-shadow-color);

  @media(min-width: 780px){
    padding: 20px 40px;
  }


  @media(min-width: 1440px){
    margin-top: 3rem;
    padding: 20px 50px;
  }

  &:hover {
    --background-color: #a4c2f6;
    color: black;
    transition: .2s ease-in-out;
  }
}

.btn-common--blue {
  --background-color: #08337B;
  --box-shadow-color: rgba(176, 169, 142, 0.49);

  &:hover {
    --background-color: #95b4eb;
  }
}

.blog-submit {
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 0;
  margin: 0;
  margin-left: auto;
  border-radius: 0px 8px 8px 0px;
}

.footer-submit {
  margin-top: 0;
  margin-left: 0;
}