.our-team {
  margin-bottom: 5rem;

  &-text {
    text-align: center;
    color: var(--gray);
    font-size: 17px;
  }

  &-heading {
    text-align: center;
    color: var(--black);
    font-size: 30px;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }

  &-para {
    margin: auto;
    font-size: 16px;
    color: var(--deep-gray);
    margin-bottom: 2rem;
    line-height: 20px;
  }

  &-input {
    display: flex;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 230);
    outline: none;
    box-shadow: 4px 4px 0 0 rgba(57, 76, 87, 0.09);
    margin: auto;

    &:focus {
      border: 1px solid grey;
    }
  }

  &-content {
    display: grid;
    justify-content: space-between;
    align-items: start;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 4rem;
    gap: 2rem;

    &-list {
      margin: auto;
      margin-top: 0;
    }

    &-item {
      list-style: none;
      display: flex;
    }

    &-link {
      line-height: 34px;
      text-decoration: none;
      color: var(--dark);
      cursor: pointer;
      font-weight: 400;
      font-size: 24px;

      &:hover {
        color: var(--blue);
      }
    }

    &-images {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
      margin: auto;

      img {
        border-radius: 10%;
        cursor: pointer;
      }
    }
  }
}

.imghead {
  position: relative; 

  .imgtail {
    position: absolute; 
    height: 40%; 
    background-color:rgba($color: #474343, $alpha: 0.4); 
    color: white;
    bottom: 0;
    width: 100%; 
    text-align:center;
    display: none;
    align-items: start;
    padding: 10px;
    // justify-content: space-around;
    flex-direction: column;
    border-radius: 0 0 15px 15px;

    
}
&:hover {
  .imgtail {
    display: flex;
    cursor: pointer;
}
}
}

@media (min-width: 768px) {
  .our-team {
    &-heading {
      font-size: 40px;
    }

    &-para {
      width: 60%;
    }

    &-input {
      width: 50%;
    }

    &-content {
      grid-template-columns: repeat(2, 1fr);

      &-link {
        line-height: 40px;
      }

      &-images {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (min-width: 1024px) {
  .our-team {
    &-content {
      &-link {
        line-height: 44px;
      }

      &-images {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-top: 2px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .our-team {
    margin-bottom: 10rem;
    background-image: url("../images/content/images/team/team-bg.svg");
    background-size: 80%;
    width: 65%;
    text-align: center;
    background-position: top -60px right -40px;
    background-repeat: no-repeat;

    &-input {
      width: 40%;
    }

    &-content {
      padding: 0 2rem;

      &-list {
        margin: unset;
      }
    }
  }
}